.btn {
  @apply w-full rounded-md px-3.5 py-2.5 bg-transparent font-caveat shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2  transition-all duration-300;
  /* width: fit-content; */
  height: auto;
  padding: 5px 15px;
}

.primary {
  @apply bg-red-500  text-sm font-semibold text-gray-800  hover:bg-red-600 focus-visible:bg-red-600;
}
.secondary {
  @apply text-sm font-semibold text-white;
  border: 2px solid #d29e39;
}
.secondary:hover,
.secondary:focus-visible {
  @apply text-sm font-semibold;
  background: #0d0c0c44;
  backdrop-filter: blur(9px);
}
