@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/Roboto.woff2) format("woff2");
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --bg-animation: kenburns-top 5s ease-in both;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(0, 0, 0);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.hovered:hover,
.hovered:active,
.hovered:focus,
.hovered:focus-visible {
  @apply text-red-500 fill-red-500 transition-all duration-300 cursor-pointer;
}

.kenburns-top {
  animation: kenburns-top 5s ease-in both;
}

@keyframes kenburns-top {
  0% {
    transform: scale(1.1) translateY(-5px);
    transform-origin: 50% 16%;
  }
  100% {
    transform: scale(1) translateY(0);

    transform-origin: top;
  }
}
