.footer {
  @apply w-full h-fit fixed bottom-0 text-base text-gray-400 flex flex-col items-center animate-slide-top;
  padding: 20px;
}
.linksWrapper {
  @apply flex flex-row items-center gap-8 pt-3;
}
.linksList {
  @apply flex flex-row gap-2  border-l-2 border-r-2 border-gray-400 px-8;
}

.blurBox {
  height: 100%;
  width: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.25);
  filter: blur(9px);
  z-index: -1;
}
